<link rel="stylesheet" href="styles/navbar.css">

<input type="checkbox" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner top"></div>
    <div class="spinner middle"></div>
    <div class="spinner bottom"></div>
</label>
<div id="sidebarMenu">
    <ul class="menu">
        <li><a href="/60-Steps-to-a-Successful-site">60 Steps to a Successful site</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</div>